<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form  (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" name="email" ngModel email="true" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control"
        ngModel name="pwd"  minlength ="8" id="pwd" required>

      </div>
      <span style="color: red" *ngIf="!form.valid && form.touched">  form not valid !! </span>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>

    </form>
  </div>
</div>





