<div class="jumbotron">
    <h1>Welcome To my-blog</h1>
    <p>first project by angular</p>

  </div>

  <div class="row">


      <div class="card"*ngFor="let blog of blogs" style="margin-right: 10px">
        <img class="card-img-top" src="{{blog.thumbnailUrl}}" alt="{{blog.title}}" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> {{blog.title}}</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a class="btn btn-primary" [routerLink]="['/blogitem' ,blog.id]" >More</a>
        </div>
</div>



